<!-- projects.component.html -->
<div class="project-sidenavbar-container p-10 pl-20 pr-20">
  <div class="row flex justify-center">
    <h1>New project</h1>
  </div>

  <hr>

  <div [formGroup]="projectForm">
    <div class="row flex justify-center mb-8">
      <h2 class="pt-3">Project name:</h2>    
      <input class="ml-5" matInput formControlName="name">    
    </div>  
  </div>

  <hr>

  <div class="row flex justify-end p-2">
    <button class="flex bg-flowy-green rounded-full p-2" (click)="onCreateProject()">
      <span class="span-button m-2 mt-1">Create project</span>
      <span class="mt-1 mr-1 material-icons text-white">add</span>
    </button>
  </div>
</div>
