<div *ngIf="!creatingTask" class="tasks-sidenavbar-container p-10 pl-20 pr-20">

    <div class="row flex justify-center">
        <h1>{{title}}</h1>
    </div>

    <hr>

    <div class="row flex mb-10">
        <span class="task-count-text pt-1">Tasks </span>
        <span class="task-count-number pt-1">({{taskCount}})</span>
        <button class="ml-auto" (click)="creatingTask = true">
            <mat-icon class="text-white bg-flowy-green rounded-full pb-6">add</mat-icon>
        </button>
    </div>

    <mat-nav-list *ngIf="isProjectOrArea == 'project'">
        <a (click)="onTaskProjectSelected(task)" mat-list-item *ngFor="let task of tasksProject; let i = index">
            <span class="flex flowy-green font-medium">{{i + 1}} {{task.title}}
                <button class="ml-auto" (click)="onDeleteTaskProject(task)">
                    <mat-icon class="text-white text-base bg-flowy-green rounded-full">delete</mat-icon>
                </button>
            </span>
        </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="isProjectOrArea == 'area'">
        <a (click)="onTaskAreaSelected(task)" mat-list-item *ngFor="let task of tasksArea; let i = index">
            <span class="flex flowy-green font-medium">{{i + 1}} {{task.title}}
                <button class="ml-auto" (click)="onDeleteTaskArea(task)">
                    <mat-icon class="text-white text-base bg-flowy-green rounded-full">delete</mat-icon>
                </button>
            </span>
        </a>
    </mat-nav-list>
</div>

<div *ngIf="creatingTask && isProjectOrArea === 'project'" class="task-sidenavbar-container p-10 pl-20 pr-20"
    [formGroup]="tas'kProjectForm">
    <div class="row flex justify-center">
        <h1>New task</h1>
    </div>

    <hr>

    <div class="row flex justify-center mb-2">
        <h2 class="pt-3">Task name:</h2>
        <input class="ml-5" matInput formControlName="title">
    </div>

    <hr>

    <div class="row flex justify-center mb-2">
        <h2 class="pt-3">Task description:</h2>
    </div>
    <div class="w-full">
        <textarea matInput formControlName="description"></textarea>
    </div>

    <hr>

    <div class="row flex justify-center mb-2">
        <h2 class="pt-3">Date:</h2>
        <input class="ml-5" type="date" matInput formControlName="date">
    </div>

    <hr>

    <div class="row flex mb-2">
        <h2 class="pt-3 mr-auto">Priority:</h2>
        <form class="ml-2 row flex">
            <div class="row flex space-x-1" [formGroup]="taskProjectForm">
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="TRIVIAL" name="priority">
                    Trivial
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="LOW" name="priority">
                    Low
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="AVERAGE" name="priority">
                    Average
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="HIGH" name="priority">
                    High
                </label>
            </div>    
        </form>
    </div>

    <hr>

    <div class="row flex justify-end p-2">
        <button class="flex bg-flowy-green rounded-full p-2" (click)="onCreateTask()">
            <span class="span-button m-2 mt-1">Create project</span>
            <span class="mt-1 mr-1 material-icons text-white">add</span>
        </button>

        <button class="flex bg-red rounded-full p-2" (click)="creatingTask = false">
            <span class="span-button m-2 mt-1">Cancel</span>
            <span class="mt-1 mr-1 material-icons text-white">close</span>
        </button>
    </div>
</div>

<div *ngIf="creatingTask && isProjectOrArea === 'area'" class="task-sidenavbar-container p-10 pl-20 pr-20"
    [formGroup]="taskAreaForm">
    <div class="row flex justify-center">
        <h1>New task</h1>
    </div>

    <hr>

    <div>
        <div class="row flex justify-center mb-2">
            <h2 class="pt-3">Task name:</h2>
            <input class="ml-5" matInput formControlName="title">
        </div>
    </div>

    <hr>

    <div class="row flex justify-center mb-2">
        <h2 class="pt-3">Task description:</h2>
    </div>
    <div class="w-full">
        <textarea matInput formControlName="description"></textarea>
    </div>

    <hr>    

    <div>
        <div class="row flex justify-center">
            <h2>Recurrence:</h2>
        </div>
        <form class="row flex">
            <div class="row flex space-x-1">
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="recurrenceType" value="Day" name="recurrenceType" checked>
                    Day
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="recurrenceType" value="Week" name="recurrenceType">
                    Week
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="recurrenceType" value="Month" name="recurrenceType">
                    Month
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="recurrenceType" value="Year" name="recurrenceType">
                    Year
                </label>
            </div>
            
            <input type="number" class="ml-auto w-1/5" placeholder="0" formControlName="recurrencTime">        
        </form>
    </div>

    <hr>

    <div class="row flex mb-2">
        <h2 class="pt-3 mr-auto">Priority:</h2>
        <form class="ml-2 row flex">
            <div class="row flex space-x-1" [formGroup]="taskAreaForm">
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="TRIVIAL" name="priority">
                    Trivial
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="LOW" name="priority">
                    Low
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="AVERAGE" name="priority">
                    Average
                </label>
                <label class="radio-label">
                    <input class="mr-1" type="radio" formControlName="priority" value="HIGH" name="priority">
                    High
                </label>
            </div>    
        </form>
    </div>

    <hr>

    <div class="row flex justify-end p-2">
        <button class="flex bg-flowy-green rounded-full p-2" (click)="onCreateTask()">
            <span class="span-button m-2 mt-1">Create project</span>
            <span class="mt-1 mr-1 material-icons text-white">add</span>
        </button>

        <button class="flex bg-red rounded-full p-2" (click)="creatingTask = false">
            <span class="span-button m-2 mt-1">Cancel</span>
            <span class="mt-1 mr-1 material-icons text-white">close</span>
        </button>
    </div>
</div>