/* tasks.component.css */
.tasks-sidenavbar-container {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 20%;
    overflow-x: hidden;
}

hr {
    margin: 5px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    background: #5D7049;
    border-top: 1px solid #5D7049;
}

mat-nav-list a {
    background-color: #DBE3D8;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: none;
}

mat-nav-list a span {
    font-family: 'Poppins', sans-serif;
    color: #5D7049;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #5D7049;
    font-weight: bold;
}

.task-count-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #5D7049;
}

.task-count-number {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: gray;
}

/* Tasks create css */

.task-sidenavbar-container {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 20%;
    background-color: #c0c7b85d;
    overflow-x: hidden;
}

.span-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}

input {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid #5D7049;
    padding: 10px;
    background-color: #c0c7b8 !important;
}

textarea {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid #5D7049;
    background-color: #c0c7b8 !important;
    padding-bottom: 200px;
    resize: none;
    width: 100%;
}

.radio-label {
    font-family: 'Poppins', sans-serif;
    color: #5D7049;
    display: flex;
    align-items: center;
}