<div>
    <div class="sidenavbar-container p-10">
        <div class="row flex">
            <div class="rounded-full bg-black h-14 w-14"></div>
            <div class="flex flex-col mb-0">
                <h2 class="pl-2 font-bold h-3">John Doe</h2>
                <h3 class="pl-2 text-gray-600">540 completed tasks</h3>
            </div>
        </div>

        <hr>
        <mat-accordion>
            <mat-expansion-panel [hideToggle]="panelSelected !== 1" (opened)="onPanelChange(1)"
                (closed)="onPanelChange(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-2">signal_cellular_alt</mat-icon>
                        Projects
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item (click)="onChangeSidebar('projects'); selectedProjectId = 0" (keyup.enter)="onChangeSidebar('projects'); selectedProjectId = 0" (keydown.space)="onChangeSidebar('projects'); selectedProjectId = 0" tabindex="0">
                        <span class="flex flowy-green font-medium">New project
                            <button class="ml-auto" tabindex="0">
                                <mat-icon class="text-white bg-flowy-green rounded-full pb-6">add</mat-icon>
                            </button>
                        </span>
                    </a>
                    <a class="row flex" mat-list-item *ngFor="let project of projects"
                        (click)="onProjectSelected(project)" (keyup.enter)="onProjectSelected(project)" (keydown.space)="onProjectSelected(project)"
                        [ngClass]="{'mat-nav-list-selected': selectedProjectId === project.projectId}" tabindex="0">
                        <span class="flex flowy-green font-medium">{{project.name}}
                            <button class="ml-auto" (click)="project.projectId !== undefined && onProjectDeleted(project.projectId)" tabindex="0">
                                <mat-icon class="text-white text-base bg-flowy-green rounded-full">delete</mat-icon>
                            </button>
                        </span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [hideToggle]="panelSelected !== 2" (opened)="onPanelChange(2)"
                (closed)="onPanelChange(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-2">calendar_today</mat-icon>
                        Areas
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a tabindex="0" mat-list-item (click)="onChangeSidebar('areas'); selectedAreaId = 0" (keyup.enter)="onChangeSidebar('areas'); selectedAreaId = 0" (keydown.space)="onChangeSidebar('areas'); selectedAreaId = 0">
                        <span class="flex flowy-green font-medium">New Area
                            <button class="ml-auto" tabindex="0">
                                <mat-icon class="text-white bg-flowy-green rounded-full pb-6">add</mat-icon>
                            </button>
                        </span>
                    </a>
                    <a tabindex="0" mat-list-item *ngFor="let area of areas" (click)="onAreaSelected(area)" (keyup.enter)="onAreaSelected(area)" (keydown.space)="onAreaSelected(area)"
                        [ngClass]="{'mat-nav-list-selected': selectedAreaId === area.areasId}">
                        <span class="flex flowy-green font-medium">{{area.name}}
                            <button class="ml-auto" (click)="area.areasId !== undefined && onAreaDeleted(area.areasId)" tabindex="0">
                                <mat-icon class="text-white text-base bg-flowy-green rounded-full">delete</mat-icon>
                            </button>
                        </span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel disabled="true" [hideToggle]="panelSelected !== 3" (opened)="onPanelChange(3)"
                (closed)="onPanelChange(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-2">inbox</mat-icon>
                        Archives
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel disabled="true" [hideToggle]="panelSelected !== 4" (opened)="onPanelChange(4)"
                (closed)="onPanelChange(0)" class="text-gray-500">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-2">settings</mat-icon>
                        Settings
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="absolute bottom-0 left-6 right-0 p-10 pb-5">
            <button class="flex font-medium text-lg flowy-green mb-2">
                <mat-icon class="mr-2">help</mat-icon>
                Help
            </button>
            <button class="flex font-medium text-lg text-red-600" (click)="logout()">
                <mat-icon class="mr-2">logout</mat-icon>
                Logout account
            </button>
        </div>
    </div>

    <div *ngIf="actualSidebar === 'areas'">
        <app-areas (areaCreated)="loadAreas()"></app-areas>
    </div>

    <div *ngIf="actualSidebar === 'projects'">
        <app-projects (projectCreated)="loadProjects()"></app-projects>
    </div>

    <div *ngIf="actualSidebar === 'tasks'">
        <app-tasks [project]="project" [area]="area" (taskProjectSelected)="onTaskProjectSelected($event)"
            (taskAreaSelected)="onTaskAreaSelected($event)" *ngIf="actualSidebar === 'tasks'"></app-tasks>
    </div>

    <div *ngIf="taskArea.tasksId || taskProject.tasksProjectId">
        <app-task-infos [taskArea]="taskArea" [taskProject]="taskProject"></app-task-infos>
    </div>

    <div *ngIf="!taskArea.tasksId && !taskProject.tasksProjectId" class="image-container">
        <img src="../../../assets/home_checklist.png" alt="home-checklist Image">
    </div>
</div>