<div class="container">
  <div class="image-container">
    <img src="../../../assets/login.png" alt="Login Image" class="w-full">
  </div>
  <div class="form-container">
    <p class="font-medium text-xl mb-2">Welcome to Flowy!</p>
    <p class="m-3 text-gray-500">A simple solution for everyday tasks.</p>
    <div class="button-container">
      <button 
        (click)="toggleForm(true)"
        [ngStyle]="{'background-color': isLogin ? '#5e704a' : ''}"
        class="px-4 py-2 rounded">
        Login
      </button>
      <button 
        (click)="toggleForm(false)"
        [ngStyle]="{'background-color': !isLogin ? '#5e704a' : ''}"
        class="px-4 py-2 rounded">
        Register
      </button>
    </div>
    <form (ngSubmit)="isLogin ? login($event) : register($event)" [formGroup]="userForm">
      <div class="input-container mb-4" *ngIf="!isLogin">
        <label for="email" class="block mb-1">Email address</label>
        <input type="text" id="email" name="email" placeholder="Enter your Email address" class="w-full px-3 py-2 border rounded" formControlName="userEmail">
      </div>
      <div class="input-container mb-4">
        <label for="username" class="block mb-1">User name</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Enter your User name" class="w-full px-3 py-2 border rounded" formControlName="userName">
      </div>
      <div class="input-container mb-4 relative" >
        <label for="password" class="block mb-1">Password</label>
        <input [type]="passwordFieldType" id="password" name="password" [(ngModel)]="password" placeholder="Enter your Password" class="w-80 px-3 py-2 border rounded max-w-xs pr-10" formControlName="userPassword">
        <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-11 right-0 flex items-center pt-1 px-3 text-gray-500">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
      <div class="checkbox-container flex items-center mb-4" *ngIf="isLogin">
        <input class="mr-1" type="checkbox" id="remember" name="remember">
        <label for="remember" class="mr-auto">Remember me</label>
        <a class="text-blue-500" href="#">Forgot Password?</a>
      </div>
      <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded" type="submit">{{ isLogin ? 'Login' : 'Register' }}</button>
    </form>
  </div>
</div>
