<div class="container m-5">
  <div class="image-container">
    <img src="../../../assets/login.png" alt="Login Image">
  </div>
  <div class="form-container">
    <p class="font-bold mb-2">Welcome to Flowy!</p>
    <div class="button-container">
      <button>Login</button>
      <button>Register</button>
    </div>
    <p class="m-3 text-gray-500">A simple solution for everyday tasks.</p>
    <form>
      <div class="input-container">
        <label for="username">User name</label>
        <input type="text" id="username" name="username" placeholder="Enter your User name">
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password">
      </div>
      <div class="checkbox-container">
        <input class="mr-1" type="checkbox" id="remember" name="remember">
        <label for="remember">Remember me</label>
        <a class="flow-right" href="#">Forgot Password?</a>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>