@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

body {  
  background: #dbdfd8;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html { width: 100%; height: 100; font-family: 'Poppins';}

.vl {
  border-left: 3px solid white;
  height: 30px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5D7049;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c492e;
}